* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  user-select: none;
  cursor: pointer;
}
.hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgb(0, 0, 0, 0.8), transparent),
    url(images/onepiece\ hero\ wallpaperr.jpeg);
  background-size: cover;
  background-attachment: fixed;
  justify-content: space-between;
  overflow: hidden;
}

.hero-header {
  display: flex;
  justify-content: space-between;
}

.hero-header ul {
  display: flex;
  gap: 60px;
  margin: 60px 70px;
}

.hero-header li {
  list-style-type: none;
}

.hero-header ul a {
  font-family: "Protest Revolution", sans-serif;
  text-decoration: none;
  color: aliceblue;
  font-size: 22px;
  position: relative;
}

.hero-header ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  transition: width 0.5s;
}
.hero-header ul li a:hover::after {
  width: 80%;
  box-shadow: 0 0 10px white, 0 0 30px white, 0 0 50px white;
}

.hero-header img {
  width: 90px;
  height: 90px;
  position: fixed;
  margin: 40px;
  z-index: 1;
}
.hero-header img:hover {
  filter: drop-shadow(0 0 10px skyblue);
}
.hero-page {
  display: flex;
  animation: slider 20s linear infinite;
}
@keyframes slider {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-110%);
  }
}
.hero-page nav {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.hero-page nav img {
  width: 150px;
  height: 150px;
  border-radius: 30%;
  margin: 10px;
}
.hero-page nav img:hover {
  box-shadow: 0 0 20px white;
  box-shadow: 0 0 40px white;
}
.hero-page:hover {
  animation-play-state: paused;
}

.author {
  margin: 30px 70px;
  display: flex;
  justify-content: space-between;
}
.author-name h3 {
  font-family: "Fruktur", system-ui;
  font-weight: 500;
  font-size: 65px;
  font-style: italic;
  color: transparent;
  -webkit-text-stroke: 0.5px white;
  background-image: linear-gradient(rgb(0, 0, 0), red);
  background-clip: text;
}
.author-name p {
  font-size: 18px;
  padding: 5px;
  color: aliceblue;
  font-family: "Protest Revolution", sans-serif;
}

.details p {
  font-size: 20px;
  color: white;
  font-family: "Protest Revolution", sans-serif;
  padding: 10px;
}

/* -----pages---- */

.page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.625), rgba(0, 0, 0, 0.625)),
    url(images/page\ wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.op {
  width: 100%;
  height: 100vh;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 100px;
}
.op img {
  width: 400px;
  height: 400px;
  opacity: 0;
  scale: 0.7;
  animation: fade 5s linear forwards;
  animation-timeline: view();
  animation-range: entry 25vh;
}

@keyframes fade {
  to {
    opacity: 1;
    scale: 1;
  }
}

.op h1 {
  font-family: "Protest Revolution", sans-serif;
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 50px;
  color: transparent;
  -webkit-text-stroke: 1px white;
}

#luffy h1,
#nami h1,
#sanji h1,
#robin h1,
#brook h1 {
  animation: heading 0.5s linear;
  animation-timeline: view();
  animation-range: cover 20px;
}

@keyframes heading {
  from {
    transform: translateX(250px);
  }
  to {
    transform: translateX(0);
  }
}
#zoro h1,
#usopp h1,
#chopper h1,
#franky h1,
#jinbe h1 {
  animation: headingrev 0.5s linear;
  animation-timeline: view();
  animation-range: cover 20px;
}

@keyframes headingrev {
  from {
    transform: translateX(-250px);
  }
  to {
    transform: translateX(0);
  }
}

.op span {
  font-size: 18px;
  font-weight: 600;
  font-family: sans-serif;
  color: hsla(0, 0%, 100%, 0.21);
  background-image: linear-gradient(white, white);
  background-size: 0% 100%;
  background-clip: text;
  background-repeat: no-repeat;
  animation: text 5s linear forwards;
  animation-timeline: view();
  animation-range-start: cover 40vh;
  animation-range-end: cover 80vh;
}

@keyframes text {
  to {
    background-size: 100% 100%;
  }
}

.contact {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(black, transparent),
    url(images/onne\ piece\ boat.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 120px;
  border: 1px solid white;
  border-radius: 20px;
  backdrop-filter: blur(5px);
}
.contact h3 {
  font-family: "Protest Revolution", sans-serif;
  color: aliceblue;
  font-size: 25px;
  border-bottom: 2px solid white;
  padding: 10px 0;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.contact .input {
  font-family: "Protest Revolution", sans-serif;
  outline: none;
  border: none;
  padding: 10px;
  font-weight: bolder;
  font-size: 14px;
  color: white;
  background-color: transparent;
  border-bottom: 2px solid white;
  letter-spacing: 2px;
}

.contact textarea {
  font-family: "Protest Revolution", sans-serif;
  outline: none;
  color: white;
  border: 1px solid white;
  border-radius: 7px;
  height: 120px;
  padding: 7px;
  font-size: 14px;
  font-weight: bolder;
  resize: none;
  background-color: transparent;
  letter-spacing: 2px;
}
.contact ::placeholder {
  color: rgba(240, 248, 255, 0.888);
}

.contact .btn {
  font-family: "Protest Revolution", sans-serif;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  width: 70px;
  border-radius: 7px;
  transition: 0.4s;
  color: black;
}
.contact .btn:hover {
  background-color: white;
  box-shadow: 0 0 10px white;
  scale: 1.1;
}

/* --Responsive-- */

@media (width <= 820px) {
  .hero,
  .page,
  .contact {
    background-size: 850px 642px;
  }

  .hero-header ul a {
    font-size: 15px;
  }
  .hero-header img {
    width: 70px;
    height: 70px;
  }
  .hero-page nav img {
    width: 150px;
    height: 150px;
  }
  .hero-page {
    animation: slider 10s linear infinite;
  }
  .author-name h3 {
    font-size: 40px;
  }
  .details p {
    font-size: 15px;
  }

  .op {
    height: 100%;
    flex-direction: column;
    padding: 60px 40px;
  }
  .crew {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .op img {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
  }

  .op span {
    font-size: 15px;
  }

  #zoro,
  #usopp,
  #chopper,
  #franky,
  #jinbe {
    flex-direction: column-reverse;
  }
}

@media (width <= 600px) {
  .hero,
  .page,
  .contact {
    background-size: 450px 650px;
  }
  .hero-header ul {
    gap: 20px;
    margin: 40px 40px;
  }
  .hero-header ul a {
    font-size: 12px;
  }
  .hero-header img {
    margin: 20px;
    width: 50px;
    height: 50px;
  }
  .hero-page nav img {
    width: 120px;
    height: 120px;
  }
  .hero-page {
    animation: slider 5s linear infinite;
  }
  .author-name h3 {
    font-size: 30px;
  }
  .details p {
    font-size: 12px;
  }

  .op img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    animation-range: entry 15vh;
  }

  .op h1 {
    font-size: 30px;
  }

  .op span {
    font-size: 12px;
  }

  .contact form {
    padding: 30px 60px;
  }
  .contact .input,
  .contact textarea {
    font-size: 11px;
  }

  .contact .btn {
    padding: 5px;
  }
}
